* {
    margin: 0;
    padding: 0;
}

body{
    margin: 10px;
}

#unit-selection-div {
    display: flex;
    height: 50px;
    padding-bottom: 20px;
}

button#drop-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 16px;
    line-height: 16px;

    padding: 5px 10px;
    color: red;

    appearance: none;
    -webkit-appearance: none;
    border: 1px solid red;
    background-color: transparent;
}

.visible {
    visibility: visible;
    display: flexbox;
}

.invisible {
    visibility: hidden;
    height: 0;
    width: 0;
}

.visible>button {
    padding: 5px;
    display: flex;
}

#unit-selected {
    padding-left: 10px;
    align-self: center;
}

form {
    padding-bottom: 20px;
}

#result {
    display: flex;
    gap: 10px;
}

.day {
    border: 1px solid black;
}

.day>li{
    padding: 5px;
    list-style-type: none;
}