#unit-selection-div {
    display: flex;
}

button#drop-btn {
    color: red;
    height: auto;
}

ul {
    text-decoration: none;
    list-style-type: none;
    border: 1px solid black;
    width: 30px;
}

.visible {
    visibility: visible;
}

.invisible {
    visibility: hidden;
}